html {
    background-color:rgb(255,75,45);
}

html {
    color: rgb(245, 227, 25);
}

header {
    text-align: left;
    font-size: 150px;
    font-style: italic;
    color: aquamarine;
}

section {
    color: bisque;
    font-size: 50px;
    text-align: center;
    text-decoration: wavy;
    font-weight: 50;
    font-stretch: ultra-expanded;
}

article {
    font-size: 20px;
    color: rgb(17, 127, 2);
}

footer {
    margin-block-start: auto;
    margin-bottom: 0;
}

body {
    background-color: rgb(244, 190, 43);
}

p {
    text-align: center;
    font-size: 100px;
}